:root {
  --brand-color: ;
  --background-color: ;
}

.list {
  list-style: none;
}

.link {
  list-style: none;
}

.main-header {
}
.main-nav {
}
.link {
}
.logo-link {
}
.menu {
}
.list {
}
.menu-item {
}
.menu-link {
}
.contact-mail {
}
.contact-phone-number {
}
