:root {
  --background-color: #fff;
  --logo-color: #4d5ae5;
  --head-logo-color: #2e2f42;
  --footer-logo-color: #f4f4fd;
  --header-color: #fff;
  --second-header-color: #2e2f42;
  --main-text-color: #434455;
}

.body {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 1440px;
  height: 2592px;
  color: #434455;
  background: var(--background-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.main-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.head-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--head-logo-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--footer-logo-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-link {
  width: 67px;
  height: 24px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--head-logo-color);
}

.contact-mail {
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-phone-number {
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
